/*Contenido del global css*/
/*¿Que es el global?*/
/*El global es el css que le da su estilo caracteristico y principal a el sitio, el que debe estar en todas las paginas*/


/* ESTILOS FUNDAMENTALES*/
body {
    background-color: #577c8e;
}

header{
    background-color: #579f9e;
    margin: 0;
    border-radius: 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
}


/*ESTILOS GENERALES*/
img{
    width: 2.3rem; 
    height: 2.3rem;
    margin: 30px;
}
h1{
    font-family:'Trebuchet MS';
    font-size:3rem ;
    font-style:italic;
    font-weight:900;
}
/*ESTILOS DE CLASES*/
.buscador{
    height: 6rem;
    width: 90%;
    margin: 3rem auto;
    display: flex;
}
.buscador_form{
    display: flex;
    flex-direction: row;
    width: 100%;    
    border-radius: 0  0 25px 25px;
    flex-wrap:nowrap;
    justify-content:space-around;
    margin-bottom: 5rem;
}
.itemfooter {
    color: #EEEEEE;
    font-size: 15px;
    margin: 0 1rem 0 1rem;
    justify-content: space-around;
}
input,button{
    width: 10rem;
    height: 2rem;
    border: #111111 solid 0.9px;
    border-radius: 10px;
    text-align: center;
    font-weight:bold;
    box-shadow: #111111 0 0 15px;
}
/* Estilos del carrusel */

.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 700px;
    background-color: white;
}

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img{
    box-shadow: 0px 10px 70px 10px rgba(0, 0, 0, 0.85);
    height: 500px;
    width: 1000px;
    border-radius: 15px ;
    margin: -5px;
    object-fit: cover;
    filter: saturate(175%);
}

.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3{
    text-shadow: 0px 0px 15px black;
    padding-top: 70px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.texto p{
    text-align: center;
    align-items: center;
    margin: -5px auto 40px auto;
    padding: 20px;
    color:white;
    font-size: 0px;
    font-weight: 300;
}

.imagenes .texto{
    width: 600px;
    height: 100px;
    transition: 1s;
}

.imagenes:hover .texto{
    transition: height 0.5s, transform 1s, background-color 1s;
    transform: translateY(-100px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p{
    transition: font-size 0s .1s linear;
    font-size: 23px;
    font-weight: 300;

    text-shadow: 0px 0px 10px #000000;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -100px;
    color: black;
}

.puntos .bold{
    font-weight: 400;
    color: rgb(0, 104, 202);
}

.boton {
    height: 70px;
    width: 70px;
    padding: 5px;
    margin: auto 5%;

}

.boton:hover {
    
    height: 80px;
    margin: auto 10px;
    transition: 0.2s;
}
