/*Contenido del global css*/
/*¿Que es el global?*/
/*El global es el css que le da su estilo caracteristico y principal a el sitio, el que debe estar en todas las paginas*/
body {
    background-color: #f4efeb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}

header{
    background-color: #577c8e;
    font-size: 2rem;
    margin: 0;

}
footer{
    background-color: #2f4157;
}
.divPrincipal {
    background-color: #c7d9e5;
    text-align: center;


}
.button1{
    background-color: #577c8e;
    border: none;
    font-size: 1.5rem;
    
}
.miModal {
    background-color: #577c8e;
    font-size: large;
}
.div2{
    background-color: #c7d9e5;
}

.div3 {
    background-color: #c7d9e5;
}
.div4{
    background-color: #c7d9e5;
}


