/*Contenido del global css*/
/*¿Que es el global?*/
/*El global es el css que le da su estilo caracteristico y principal a el sitio, el que debe estar en todas las paginas*/


/* ESTILOS FUNDAMENTALES*/
body {
    background-color: #f4efeb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    border-radius: 0  0 25px 25px;
    flex-wrap:wrap;
    justify-content:space-between;
}

header{
    background-color: #577c8e;
    font-size: 2rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 0  0 25px 25px;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin-bottom: 3rem;
}

footer{
    margin-top: 5rem ;
    padding: 5%;
    background-color: #2f4157;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}
/*ESTILOS GENERALES*/
img{
    background-color: tomato;
    width: 75px; 
    height: 75px;
}
h1{
    font-size: larger;
    font-style: italic;
    font-weight: 500;
}
/*ESTILOS DE CLASES*/
.buscador{
    height: 6rem;
    width: 90%;
    margin: 3rem auto;
    display: flex;
}
.buscador_form{
    display: flex;
    flex-direction: row;
    width: 100%;    
    border-radius: 0  0 25px 25px;
    flex-wrap:nowrap;
    justify-content:space-around;
    margin-bottom: 5rem;
}
.itemfooter {
    color: #EEEEEE;
    font-size: 15px;
    margin: 0 1rem 0 1rem;
    justify-content: space-around;
}
input,button{
    width: 10rem;
    height: 2rem;
    border: #111111 solid 0.9px;
    border-radius: 10px;
    text-align: center;
    font-weight:bold;
    box-shadow: #111111 0 0 15px;
}

.opt {
    border-radius:20px;
    background-color: #577c8e;
    padding: 25px;
}

.resultado_form {
    display: flex;
    flex-direction: row;
    width: 100%;    
    border-radius: 0  0 25px 25px;
    flex-wrap:nowrap;
    justify-content:space-around;
    margin-bottom: 5rem;
}

.resultador {
    background-color: #aabbcf;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
}

.opcionesresul {
    background-color: #757f8a;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
}

.resultin {
    border-radius:20px;
    background-color: #577c8e;
    padding: 25px;
}